<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>@*@Model.StartPage.SiteFooter*@</p>
                <p>Testfooter</p>
            </div>
        </div>
    </div>
</footer>
