<!DOCTYPE html>
<html>
<head>
    <title>Prestigious</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/static/layout/styles/layout.css" type="text/css" />
</head>
<body>
    <div class="wrapper col1">
        <div id="topbar">
            <p>Tel: xxxxx xxxxxxxxxx | Mail: info@domain.com</p>
            <ul>
                <li><a href="#">Libero</a></li>
                <li><a href="#">Maecenas</a></li>
                <li><a href="#">Mauris</a></li>
                <li class="last"><a href="#">Suspendisse</a></li>
            </ul>
            <br class="clear" />
        </div>
    </div>
    <div class="wrapper col2">
        <div id="header">
            <div id="topnav">
                @Html.Partial("_TopNavigation"@*, Model*@)
            </div>
            <div id="logo">
                <h1><a href="index.html">Prestigious</a></h1>
                <p>Free Website Template</p>
            </div>
            <br class="clear" />
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @Html.Partial("_Footer")
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>