@model EPiserverCafe.Models.ViewModels.IPageViewModel<EPiserverCafe.Models.Pages.SitePageBase>

<ul>
    @foreach (var page in Model.TopMenuPages)
    {
        <li>@Html.ContentLink(page)</li>
    }
</ul>
